<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home3</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true"> 
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home3</ion-title>
    </ion-toolbar>
  </ion-header> -->


  <div class="bg-container">
    <div class="profile-wrapper">
      <img src="../assets/doctor-profile-img.png" alt="profile image" class="profile-img" />
      <h1 class="heading">
        Dr.
        <br />
        Willen
      </h1>
    </div>
  
    <div class="about-section">
      <h1>
        About
      </h1>
      <p class="about-desrciption">
        Lorem ipsum doctor sit amet, consectetuer adipiscing slit, sed
        diam nonummy nibh euismod tincidunt ut
      </p>
    </div>
  
  
    <h2>
      Choose The Date
    </h2>
  
  
    <div class="date-card">
      <h1 class="date-text">
        Mon. October 24
      </h1>
      <div class="time-wrapper">
        <div class="time-cards">
          <h1 class="time">
            14
          </h1>
        </div>
        <div class="time-cards">
          <h1 class="time">
            00
          </h1>
        </div>
      </div>
  
      <p class="description">
        Lorem ipsum doctor sit amet, consectetuer adipiscing slit, sed
      </p>
    </div>
  
  
  
  
  
    <!--<button class="get-started">
      Get Started
    //</button>-->
    <div class="buttons-card">
      
      
    <ion-button size="small" color="danger" >Get Started</ion-button>

    <ion-button size="small" (click)="goBack()" style="background-color: green; color: white;">Back</ion-button>

  </div>
  
  </div>


</ion-content> 




<!-- 
 page3


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index3.css">
  <title>Document</title>
</head>

<body>
  <div class="bg-container">
    <div class="profile-wrapper">
      <img src="./doctor-profile-img.png" alt="profile image" class="profile-img" />
      <h1 class="heading">
        Dr.
        <br />
        Willen
      </h1>
    </div>

    <div class="about-section">
      <h1 class="about">
        About
      </h1>
      <p class="about-desrciption">
        Lorem ipsum doctor sit amet, consectetuer adipiscing slit, sed
        diam nonummy nibh euismod tincidunt ut
      </p>
    </div>


    <h1 class="choose-date-text">
      Choose The Date
    </h1>


    <div class="date-card">
      <h1 class="date-text">
        Mon. October 24
      </h1>
      <div class="time-wrapper">
        <div class="time-cards">
          <h1 class="time">
            14
          </h1>
        </div>
        <div class="time-cards">
          <h1 class="time">
            00
          </h1>
        </div>
      </div>

      <p class="description">
        Lorem ipsum doctor sit amet, consectetuer adipiscing slit, sed
      </p>
    </div>





    <button class="get-started">
      Get Started
    </button>

  </div>


  <srcipt type="text/javascript" src="index3.js">

  </srcipt>
</body>

</html>  -->