<!--<div class="bg-container">
  <div class="img-wrapper">
    <img class="doctor-img" src="../assets/doctor-pic.jpeg" alt="doctor-img" />

    <h1>
      Choose Your Doctor
    </h1>
    <p>
      Lorem ipsum dolor sit amet, consectetuer adispiscing
      elit, sed diam consectetuer adipiscing sed diam
    </p>
      <ion-button color="danger"  (click)="gotoNextPage()">Get Started</ion-button>
  </div>
</div>-->
<!--</ion-content>-->
<ion-content>
  <div class="bg-container">
    <div class="img-wrapper">
      <img class="doctor-img" src="../assets/doctor-pic.jpeg" alt="doctor-img" />
    <!--<ion-title size="h1">Choose Your Doctor</ion-title>-->

      <h1>Choose Your Doctor</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <ion-button color="danger"  (click)="gotoNextPage()">Get Started</ion-button>
   
  </div>
</div>
</ion-content>





